:root {
  --text-color: #757575;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --sections-background-color: #2f303a;
  --hero-title-color: #ffffff;
  --section-light-background: #f5f4fa;
  --team-card-bg: #ffffff;
  --filter-button-bg: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

.logo span {
  color: var(--accent-color);
}
.footer-logo {
  color: #ffffff;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--sections-background-color);
}
.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.button-order {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  display: inline-block;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
}
.section-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list-item p {
  color: var(--text-color);
  line-height: 1.71;
}

.section-team {
  background-color: var(--section-light-background);
}

.footer {
  background-color: var(--sections-background-color);
}

.team-card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-card-text {
  color: var(--text-color);
  line-height: 1.19;
}
.adress-link,
.adress-map-link {
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.adress-map-link {
  color: var(--hero-title-color);
}

/* Стили для стр портфолио */
.filter__container {
  list-style-type: none;
}
.filter__button {
  background: var(--filter-button-bg);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  color: var(--primary-text-color);
  padding: 6px 22px 6px 22px;
  cursor: pointer;
}

.filter__button:hover {
  color: var(--filter-button-bg);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__current {
  color: var(--filter-button-bg);
  background: var(--accent-color);
}
.filter__current:hover {
  color: var(--filter-button-bg);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.portfolio__item p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
